#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:12rem;
  background-color: rgb(20, 30, 40);
  height: 70px; /* Added height for better vertical alignment */
}

#header-img {
  width: 150px; /* Adjust logo size */
}

#nav-bar {
  display: flex;
  align-items: center;
  gap: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(20, 30, 40);
  padding: 1rem 2rem;
  box-shadow: none;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  font-family: 'Baskervville', serif;
  color: linen;
  background-color: rgb(20, 30, 40);
}

li {
  text-align: left;
  font-size: medium;
  font-family: 'Baskervville', serif;
  color: #e59e23;
}

.desc {
  font-size: medium;
}

h1 {
  font-family: 'Anton', sans-serif;
}

h2, {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: linen;
}

main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
  row-gap: 3rem;
}

img {
  width: 100%;
  object-fit: cover;
}

.heading {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
}

.text {
  grid-column: 2 / 3;
  font-size: 1.8rem;
  letter-spacing: 0.6px;
  column-width: 25rem;
  text-align: justify;
}

.product {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ccc;
  background-color:dark-blue;
  margin-bottom: 2rem;
}

.product h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#price {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn {
  background-color: #bc1010;
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #ff6347;
}

.hero-button:hover {
  background-color: #ff6347;
}


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e59e23;
  color: white;
  height: 50vh;
}

.hero-title {
  font-size: 6rem;
  margin-bottom: 2rem;
}

.hero-button {
  font-size: 2rem;
  background-color: #bc1010;
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}

#options .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    align-items: start;
}

.container {
  padding: 30px 0 0 0;
}

section {
    padding: 4rem 2rem;
}

form {
  color: white; 
}

footer {
  background-color: #212020;
  color: white;
  text-align: center;
  padding: 2rem;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 1rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .hero-title {
        font-size: 4rem;
        text-align: center;
    }
  .hero-title {
    font-size: 4rem;
  }

}

@media only screen and (max-width: 550px) {
  .text {
    font-size: 1.6rem;
  } 
}

@media only screen and (max-width: 420px) {
  .hero-title {
    font-size: 4.5rem;
  }